body {
    padding-top: 300px;
    background-image: url(/cover.png);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    justify-content: center;
}

img {width: 50%;}